@font-face {
 font-family : CharisSILB;
 font-weight : bold;
 font-style : normal;
 src : url('font/CharisSILB.ttf');
}
.container > .homeSearch, .container > .homeSearch h1{
    text-align:center;
}

.specialFont {
    font-family: CharisSILB;
}